# Configurer les paramètres de la base de données
DB_NAME=teranga_agro
DB_USER=root
DB_PASS=
DB_HOST=localhost
DB_DIALECT=mysql

# Clé secrète pour le JWT (si utilisé plus tard)
JWT_SECRET=votre_secret_ici
